

body{
    font-family: roboto, 'open-sans', sans-serif;
    background-color: #f0f0f0;
}

details summary:focus{
    outline: none;
}

h1,h2{
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    font-weight: 300;
    margin: 10px 0;
}

a{
    text-decoration: none;
    color: #444;
}

p{
    margin: 10px 0;
}


ul{
    list-style-type: none;
}

details{
    margin: 10px 0;
    cursor: pointer;
}

.container{
    width: 1100px;
    margin: 0 auto;
    position: relative;
    overflow: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    color: var(--active-color) !important;
}


.active-bg{
    background-color: var(--active-color) !important;
}

.grid{
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.btn{
    padding: 7px;
    min-width: 70px;
    display: block;
    width: 70px;
    text-align: center;
    text-decoration: none;
}

.btn:hover{
    transform: scale(.97);
}

